* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color:#23376D;
    color:white;
    padding: 15px;
    text-align: center;
}

footer {
    background-color: #23376D;
    color: white;
    text-align: center;
    padding: 10px;

    position: fixed;
    bottom: 0px;
    width: 100%;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #7D0A42;
}

footer a {
    color: white;
}

#menu {
    background-color: #EEEEEE;
}

#menu ul li {
    display: block;
    float: left;
    border: 2px solid #23376D;
}

#menu ul li a {
    display: block;
    padding: 15px;
    color: #444;
}

#menu ul li a:hover {
    background-color: #23376D;
    color: white;
}


#contenido {
    padding: 20px;
}

.descripcion {
    font-size: 25px;
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    padding-left: 150px;
    padding-right: 150px;
}

.clearfix {
    float: none;
    clear: both;
}

#imagenprincipal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}